.sideBar {
  width: "300px";
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .sideBar {
    width: 100%;
    background-color: red;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
}
